.h2center {
    display: flex;
    justify-content: center;

}


@media (max-width: 375px) {

    section {
        flex-flow: column;
    }
    
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px rgba(0, 0, 0, 0.925);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c6c2fb93 100%);
    padding-top: 20px;
        &__texto {
            grid-area: redes;
            font-size: large;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            font-family: 'Mukta', sans-serif;
        }
}



@media (max-width: 375px) {

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 0.25fr;
        grid-template-areas:
            "titulo"
            "redes"

        ;

    }
}